.reveal .slides > section.present, .reveal .slides > section > section.present {
  min-height: 100% !important;
  position: absolute !important;
  top: 0 !important;
}

.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: 0px solid #222;
    box-shadow: 0 0 00px rgba(0, 0, 0, 0.15); }

.reveal .slide-number {
    font-family: "Lato", serif;
    font-size: 20px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.0);
}

.vcenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

.reveal .progress {
    color: #763091;
}

.source {
    color: #666;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 110px;
    left: 0px;
    width: 100%;
}

.reveal .video-source {
    line-height: 0pt;
    text-align: right;
    color: #999;
    font-size: 18px;
}

.reveal table td {
    text-align: left;
    padding: 0.0em;
    border-bottom: 0;
}

.reveal ul {
    list-style: circle inside;
}

.purple {
    color: #763091;
}
